<app-top-title-bar [title]="'Taller'">
  <app-top-title-bar-action [tooltip]="'Buscar'" [icon]="'search'"></app-top-title-bar-action>
</app-top-title-bar>

<div id="active-projects">
  <div id="active-projects-title">
    <span>Proyectos activos:</span>
    <button id="new-project-btn" mat-flat-button color="primary" (click)="onNewProjectClick()">
      <mat-icon>add</mat-icon>
      Nuevo proyecto
    </button>
  </div>
  <div id="projects-list">
    <app-active-project *ngFor="let project_info of active_projects_infos"
      [projectInfo]="project_info | async"
      matRipple
      (click)="onActiveProjectClick($event)"></app-active-project>
  </div>
</div>
