:host {

  #active-projects {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5em;

    #active-projects-title {
      font-size: large;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      #new-project-btn {
        border-radius: 0.7em;
        padding-left: 10px;
        background-color: blueviolet;
      }
    }

    #projects-list {
      margin-top: 1em;

      app-active-project {
        margin-bottom: 1em;
      }
    }
  }
}
