<h2>{{projectInfo.name}}</h2>
<p>{{projectInfo.description}}</p>
<mat-chip-list>
  <mat-chip>
    <mat-icon>accessibility</mat-icon>{{projectInfo.mannequin_name}}
  </mat-chip>
  <mat-chip>
    <mat-icon>loyalty</mat-icon>{{projectInfo.garment_model_name}}
  </mat-chip>
</mat-chip-list>
