:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 4px dashed lightgray;
  border-radius: 0.5em;
  padding: 1em 0.5em;
  cursor: pointer;

  mat-chip-list {
    display: flex;
    justify-content: flex-start;
    margin: 0.5em;

    mat-chip {
      padding-left: 10px;

      mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}
