<div class="bottom-navbar">
    <a *ngFor="let navBarDestination of destinations"
        id="{{navBarDestination.id}}"
        class="bottom-navbar-destination" 
        matRipple
        [matRippleColor]="'rgba(0,0,0,0.05)'"
        [matRippleCentered]="true"
        [matRippleRadius]="50"
        [routerLink]="navBarDestination.path">
        <mat-icon *ngIf="navBarDestination.icon.length > 0">{{navBarDestination.icon}}</mat-icon>
        <span>{{navBarDestination.label}}</span>
    </a>
</div>