:host {
    width          : 100%;
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -20px 20px 10px white;
}

.bottom-navbar {
    width          : 100%;
    height         : 4em;
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: space-around;
    align-items    : center;
    background-color: white;


    .bottom-navbar-destination {
        height         : 100%;
        width          : 100%;
        max-width      : 8em;
        display        : flex;
        flex-flow      : column nowrap;
        align-items    : center;
        justify-content: center;

        text-decoration: none;
        color          : black;
        cursor         : pointer;
        text-align     : center;

        user-select        : none;
        -webkit-user-select: none;
        -moz-user-select   : none;
        -ms-user-select    : none;

        -webkit-user-drag          : none;
        -webkit-tap-highlight-color: transparent;

        &.active {
            color: blueviolet;
        }
    }
}
