<div id="register-title">
    <h1>Registrarse</h1>
</div>

<form id="register-form" #registerForm (ngSubmit)="register()">

    <div id="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput name="name" [(ngModel)]="user.display_name" [formControl]="displayNameFormControl">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="user.email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email')">
            El email no es correcto
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError(emailAlreadyRegisteredErrorKey)">
          {{emailFormControl.getError(emailAlreadyRegisteredErrorKey)}}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput name="name" [(ngModel)]="user.username" [formControl]="usernameFormControl">
      <mat-error *ngIf="usernameFormControl.hasError(usernameAlreadyExistsErrorKey)">
        {{usernameFormControl.getError(usernameAlreadyExistsErrorKey)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="user.password" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError(repeatedPasswordErrorKey)">
            {{passwordFormControl.getError(repeatedPasswordErrorKey)}}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Repetir contraseña</mat-label>
        <input matInput type="password" [formControl]="repeatedPasswordFormControl">
        <mat-error *ngIf="repeatedPasswordFormControl.hasError(repeatedPasswordErrorKey)">
            {{repeatedPasswordFormControl.getError(repeatedPasswordErrorKey)}}
        </mat-error>
    </mat-form-field>
    </div>

    <app-bottom-actions-bar id="register-actions">
      <button mat-button color="accent" (click)="goToWelcome()">
          <mat-icon>arrow_back</mat-icon> Atrás
      </button>
      <button type="submit" mat-flat-button color="accent"
        [disabled]="registerForm.invalid">Crear usuario</button>
    </app-bottom-actions-bar>

</form>
