:host {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  flex-flow      : column nowrap;
  justify-content: flex-end;
}

#register-title h1 {
  padding    : 5%;
  padding-top: 2em;
  font-size  : xx-large;
}

#register-form {
  flex           : 1;
  width          : 100%;
  height         : 100%;
  display        : flex;
  flex-flow      : column nowrap;
  align-items    : center;
  justify-content: space-between;

  #form-fields {
    display    : flex;
    flex-flow  : column nowrap;
    align-items: center;
    width      : 100%;

    mat-form-field {
      width: 90%;
    }

  }

}
