<form (ngSubmit)="saveAndClose()">
  <div class="dialog-header">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>Nuevo proyecto</h2>
    <div class="dialog-actions">
      <button mat-button type="submit">Continuar</button>
    </div>
  </div>
  <mat-dialog-content>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Nombre" value=""
        name="project-name"
        [(ngModel)]="new_project.name">
    </mat-form-field>
    <p>¿En qué consiste el proyecto?</p>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Breve descripción" value=""
        name="project-description"
        [(ngModel)]="new_project.description">
    </mat-form-field>
  </mat-dialog-content>
</form>
