:host {

  .dialog-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 1em;
    margin-bottom: 0.5em;

    button[mat-dialog-close] {
      margin-right: 1em;
    }

    h2 {
      margin: 0;
    }

    .dialog-actions {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      button {
        font-size: larger;
        text-transform: uppercase;
        color: blueviolet;
      }
    }
  }

  mat-dialog-content {

    mat-form-field {
      width: 100%;

      &:first-of-type {
        font-size: x-large;
        margin-bottom: 0.5em;
      }
    }
  }
}
