:host {
  width: 100%;

  #project-title {
    margin: 0;
    padding: 0;
    font-size: large;
    width: 100%;
    margin-right: 1em;
  }

  #project-header {
    padding: 0 1em;
    display: flex;
    flex: 1;

    mat-form-field {
      width: 100%;
    }
  }
}
