<app-top-title-bar title="{{project.name}}" [enableBackNavigation]="true" (onBackNavigationClicked)="goToWorkshop()">

  <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #optionsMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Editar nombre</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </mat-menu>

</app-top-title-bar>

<div id="project-header">

  <mat-form-field floatLabel="never">
    <input matInput placeholder="Descripción" value={{project.description}}>
  </mat-form-field>

  <mat-chip-list>
    <mat-chip>
      <mat-icon>accessibility</mat-icon>{{mannequin.name}}
    </mat-chip>
    <mat-chip>
      <mat-icon>loyalty</mat-icon>{{garment_model.name}}
    </mat-chip>
  </mat-chip-list>

</div>
