:host {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.bottom-bar-actions {
    height         : 10%;
    width          : 100%;
    min-height     : 5em;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-between;
    width          : 100%;
    max-width      : 60em;

    /deep/ button {
        flex     : 1;
        min-width: 10em;
        max-width: 20em;
        margin   : 0.5em;
        font-size: larger;
    }
}