:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#welcome-hero {
    flex: 9;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    #welcome-logo {
        border-radius: 100em;
    }

    #welcome-title {
        margin-top: 1.5em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}
