<div id="welcome-hero">
    <img id="welcome-logo" src="https://picsum.photos/200" />
    <div id="welcome-title">
        <h1>Sewing App</h1>
        <h3>Some inspiring subtitle</h3>
    </div>
</div>
<app-bottom-actions-bar id="welcome-actions">
    <button mat-flat-button color="accent" (click)="goToRegister()">Registrarse</button>
    <button mat-flat-button color="primary" (click)="goToLogin()">Entrar</button>
</app-bottom-actions-bar>