:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#login-hero {
    flex: 2;
    padding: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    #login-logo {
        border-radius: 100em;
    }

    #login-title {
        margin-top: 1.5em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

#login-form {
    flex: 8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    #form-fields {
      display    : flex;
      flex-flow  : column nowrap;
      width      : 100%;
      align-items: center;

      mat-form-field {
        width: 90%;
      }

    }
}

#error-label {
  font-weight: normal;
  color: red;
  margin-top: 1.5em;
}
