<div id="login-hero">
  <img id="login-logo" src="https://picsum.photos/150" />
  <div id="login-title">
    <h1>Sewing App</h1>
    <h3>Some inspiring subtitle</h3>
  </div>
</div>
<form id="login-form" #loginForm (ngSubmit)="login()">

  <div id="form-fields">
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput value="" name="username" [(ngModel)]="login_data.username">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hidePasswd ? 'password' : 'text'" name="password" [(ngModel)]="login_data.password" (keyup.enter)="login()">
      <button mat-icon-button matSuffix (click)="hidePasswd = !hidePasswd" [attr.aria-label]="'Ocultar contraseña'"
        [attr.aria-pressed]="hidePasswd">
        <mat-icon>{{hidePasswd ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-checkbox name="remember_me" [(ngModel)]="login_data.remember_me">Mantén mi sesión iniciada.</mat-checkbox>

    <mat-label id="error-label" hidden="true"></mat-label>
  </div>

  <app-bottom-actions-bar id="login-actions">
    <button mat-button color="primary" (click)="goToWelcome()">
      <mat-icon>arrow_back</mat-icon> Atrás
    </button>
    <button type="submit" mat-flat-button color="primary">Iniciar sesión</button>
  </app-bottom-actions-bar>

</form>
