<div id="title-bar" class="{{hasTitle() ? '' : 'no-title'}}">
  <div id="title-header">
    <button *ngIf="enableBackNavigation" mat-icon-button
      [matTooltip]="'Atrás'"
      (click)="onBackButtonClicked()"><mat-icon>arrow_back</mat-icon></button>
    <h1 *ngIf="hasTitle()" class="{{enableBackNavigation ? '' : 'prominent-title'}}">{{title}}</h1>
  </div>
  <div id="title-bar-actions">
    <ng-content></ng-content>
  </div>
</div>
