:host {
  display        : flex;
  flex-flow      : row nowrap;
  flex           : 1;
  padding        : 1em 0.5em;

  #title-bar {
    display        : flex;
    flex-flow      : row nowrap;
    flex           : 1;
    justify-content: space-between;
    align-items    : center;

    &.no-title {
      justify-content: flex-start;

      #title-bar-actions {
        display: flex;
        flex: 1;
      }
    }

    #title-header {
      display    : flex;
      flex-flow  : row nowrap;
      align-items: center;

      button {
        margin-right: 0.5em;
      }

      h1 {
        margin: 0;

        &.prominent-title {
          margin   : 0 0.2em;
          font-size: xx-large;
        }
      }
    }
  }

}
